{% extends 'index.html'%} {% block contenido_cuerpo %} <br /><br />
<h1 class="titulo-Principal">Acerca del Proyecto</h1>
<p class="contenedor-articulo-acercade">
  Este proyecto tiene como objetivo explorar y dar a conocer la riqueza cultural
  de los pueblos originarios de la región del Gran Chaco, con un enfoque
  particular en las comunidades que habitan en la provincia de Chaco.A través  de este trabajo, 
  buscamos destacar no solo sus tradiciones, historia y arte,
  sino también su relevancia en el presente y los desafíos que enfrentan. 

  La  cultura chaqueña es un mosaico vivo, formado por la cosmovisión, el arte y el
  modo de vida de pueblos como los qom, wichí y mocovíes. El proyecto se propone
  visibilizar su legado ancestral y, al mismo tiempo, generar conciencia sobre
  la importancia de la preservación de sus lenguas y costumbres, así como la
  lucha por sus derechos territoriales y sociales. 

  En estas páginas, encontrarás  información sobre su artesanía, sus rituales, su organización social y la
  profunda conexión que mantienen con el entorno natural. Esperamos que este
  recorrido sirva para valorar y comprender la diversidad cultural que enriquece
  nuestra provincia y del pais.
</p>

{% endblock contenido_cuerpo %}
