{% extends 'index.html' %}

{% block contenido_cuerpo %}

<br><br>
<h4 class="titulo-Principal">Contacto</h4>
<p class="contenedor-articulo-acercade">

<div class="container-contacto">
    <div class="item-contacto">
        <h2 class="tipo-contacto">Gomez Alexis Hernán:</h2>
        <h2>N°cel: 3624 - 359087</h2>
        <h2>instagram/alexishgomez</h2>
        <h2>Linkedin/alexis-hernan-gomez-2189ba55</h2>
    </div>
</div>
<div class="container-contacto">
    <div class="item-contacto">
        <h2 class="tipo-contacto">Pavón Bárbara Evelin:</h2>
        <h2>N°cel: 3644 - 707131</h2>
        <h2>instagram/evelyn_pavon</h2>
        <h2>Linkedin/evelin-pavón-8290a9309</h2>
    </div>
</div>
<div class="container-contacto">
    <div class="item-contacto">
        <h2 class="tipo-contacto">Lucero Damián Federico:</h2>
        <h2>N°cel: 3644 - 662711</h2>
        <h2>instagram: n/a</h2>
        <h2>Linkedin: n/a </h2>
    </div>
</div>
</p>
<br><br><br><br><br><br>

{% endblock contenido_cuerpo %}